body {
    background: url(bg.jpg) top center;
    text-align: center;
}


#box-head{
    margin-top: 10 px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    display: block;
}
h1{
    font-size: 50px;
    color: #0ac4d5;
    text-transform: capitalize;
}