body {
    background: url(bg.jpg);
    display: flex;
    justify-content: center;
}
header{
    display: grid;
}
.profile-img{
margin-top: 90px;
background-image: url(dzaki.png);
border-radius: 50%;
width: 200px;
height: 200px;
border-radius: 50%;
background-position: center;
background-size: cover;
}


