body {
    background: url(bg.jpg) top center;
    text-align: center;
}


#box-head{
    margin-top: 10 px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    display: block;
}
.card{
    text-align: center;
}